# Super Admin Initial Account
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_NAME=System Super Admin
ADMIN_PHONE=01711223344
ADMIN_EMAIL=admin@example.com

# Hall Defaults
DEFAULT_HALL_NAME=Main Dining Hall

# Pre-seeding from CSV files (1 = enable, 0 = disable)
INIT_HALLS=1
INIT_USERS=1

# Server & Database
PORT=8090
DB_POOL_SIZE=40
DB_MAX_OVERFLOW=40
APP_THREADPOOL_SIZE=500
