--
-- PostgreSQL database dump
--

\restrict L8vK9cCGcz7DMvIrTOmZKhVF2WhdbnmNOUNtNdirc4WHVXgYLBNZ5fX3BK5XfT1

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.app_config (
    id integer NOT NULL,
    key character varying,
    value character varying
);


--
-- Name: app_config_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.app_config_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: app_config_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.app_config_id_seq OWNED BY public.app_config.id;


--
-- Name: bkash_received_sms; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bkash_received_sms (
    id integer NOT NULL,
    trx_id character varying,
    sender character varying,
    amount double precision,
    raw_text character varying,
    is_claimed boolean,
    claimed_by_user_id integer,
    date_received character varying,
    status character varying DEFAULT 'pending'::character varying,
    approved_by_user_id integer,
    approved_amount double precision
);


--
-- Name: bkash_received_sms_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.bkash_received_sms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: bkash_received_sms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.bkash_received_sms_id_seq OWNED BY public.bkash_received_sms.id;


--
-- Name: cashouts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cashouts (
    id integer NOT NULL,
    meal_cycle_id integer,
    date character varying,
    amount double precision,
    from_method character varying,
    notes character varying
);


--
-- Name: cashouts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.cashouts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cashouts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.cashouts_id_seq OWNED BY public.cashouts.id;


--
-- Name: daily_fee_overrides; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.daily_fee_overrides (
    id integer NOT NULL,
    meal_cycle_id integer,
    date character varying,
    manager_charge double precision,
    guest_charge double precision
);


--
-- Name: daily_fee_overrides_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.daily_fee_overrides_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: daily_fee_overrides_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.daily_fee_overrides_id_seq OWNED BY public.daily_fee_overrides.id;


--
-- Name: daily_menu; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.daily_menu (
    id integer NOT NULL,
    date character varying,
    hall_id integer,
    fish_served boolean DEFAULT false,
    beef_served boolean DEFAULT false,
    pangas_served boolean DEFAULT false,
    other_fish_served boolean DEFAULT false,
    mutton_served boolean DEFAULT false
);


--
-- Name: daily_menu_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.daily_menu_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: daily_menu_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.daily_menu_id_seq OWNED BY public.daily_menu.id;


--
-- Name: deposits; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.deposits (
    id integer NOT NULL,
    user_id integer,
    meal_cycle_id integer,
    amount double precision,
    date character varying,
    description character varying
);


--
-- Name: deposits_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.deposits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: deposits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.deposits_id_seq OWNED BY public.deposits.id;


--
-- Name: expenses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.expenses (
    id integer NOT NULL,
    meal_cycle_id integer,
    date character varying,
    description character varying,
    amount double precision,
    quantity double precision,
    unit character varying,
    meal_type character varying,
    paid boolean DEFAULT true
);


--
-- Name: expenses_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.expenses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: expenses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.expenses_id_seq OWNED BY public.expenses.id;


--
-- Name: halls; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.halls (
    id integer NOT NULL,
    name character varying,
    guest_meal_rate double precision,
    manager_charge_per_day double precision,
    guest_charge_per_day double precision DEFAULT 5.0
);


--
-- Name: halls_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.halls_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: halls_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.halls_id_seq OWNED BY public.halls.id;


--
-- Name: inventory_payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_payments (
    id integer NOT NULL,
    meal_cycle_id integer,
    date character varying,
    paid_to character varying,
    method character varying,
    amount double precision,
    notes character varying
);


--
-- Name: inventory_payments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.inventory_payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: inventory_payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.inventory_payments_id_seq OWNED BY public.inventory_payments.id;


--
-- Name: manual_daily_rates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.manual_daily_rates (
    id integer NOT NULL,
    date character varying,
    lunch_cost double precision,
    dinner_cost double precision,
    lunch_meals double precision,
    dinner_meals double precision,
    lunch_rate double precision,
    dinner_rate double precision,
    total_rate double precision
);


--
-- Name: manual_daily_rates_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.manual_daily_rates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: manual_daily_rates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.manual_daily_rates_id_seq OWNED BY public.manual_daily_rates.id;


--
-- Name: manual_shopping_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.manual_shopping_items (
    id integer NOT NULL,
    date character varying,
    meal_type character varying,
    description character varying,
    cost double precision
);


--
-- Name: manual_shopping_items_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.manual_shopping_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: manual_shopping_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.manual_shopping_items_id_seq OWNED BY public.manual_shopping_items.id;


--
-- Name: manual_user_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.manual_user_records (
    id integer NOT NULL,
    user_id integer,
    name character varying,
    room character varying,
    status character varying,
    lunch_meals double precision,
    dinner_meals double precision,
    deposits double precision,
    costs double precision,
    give_take double precision
);


--
-- Name: manual_user_records_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.manual_user_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: manual_user_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.manual_user_records_id_seq OWNED BY public.manual_user_records.id;


--
-- Name: meal_cycles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.meal_cycles (
    id integer NOT NULL,
    hall_id integer,
    month character varying,
    status character varying,
    cutoff_time character varying,
    lunch_percentage double precision,
    dinner_percentage double precision,
    lunch_only_rate_percentage double precision,
    dinner_only_rate_percentage double precision,
    start_date character varying,
    end_date character varying,
    full_rate_days character varying DEFAULT '4'::character varying
);


--
-- Name: meal_cycles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.meal_cycles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: meal_cycles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.meal_cycles_id_seq OWNED BY public.meal_cycles.id;


--
-- Name: student_meal_statuses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.student_meal_statuses (
    id integer NOT NULL,
    user_id integer,
    meal_cycle_id integer,
    date character varying,
    status character varying,
    ticked_lunch boolean,
    ticked_dinner boolean,
    kept_lunch_for_dinner boolean,
    is_guest boolean,
    guest_from_hall_id integer,
    is_deducted boolean,
    amount_deducted double precision
);


--
-- Name: student_meal_statuses_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.student_meal_statuses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: student_meal_statuses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.student_meal_statuses_id_seq OWNED BY public.student_meal_statuses.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying,
    password_hash character varying,
    role character varying,
    hall_id integer,
    room_number character varying,
    name character varying,
    phone character varying,
    email character varying,
    balance double precision,
    free_meal boolean,
    status character varying,
    egg_alternative boolean DEFAULT false,
    prefer_beef boolean DEFAULT false,
    prefer_mutton boolean DEFAULT false,
    meal_preference character varying DEFAULT 'normal'::character varying,
    fish_egg_pref character varying DEFAULT 'normal'::character varying,
    meat_pref character varying DEFAULT 'normal'::character varying
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: app_config id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.app_config ALTER COLUMN id SET DEFAULT nextval('public.app_config_id_seq'::regclass);


--
-- Name: bkash_received_sms id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bkash_received_sms ALTER COLUMN id SET DEFAULT nextval('public.bkash_received_sms_id_seq'::regclass);


--
-- Name: cashouts id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cashouts ALTER COLUMN id SET DEFAULT nextval('public.cashouts_id_seq'::regclass);


--
-- Name: daily_fee_overrides id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.daily_fee_overrides ALTER COLUMN id SET DEFAULT nextval('public.daily_fee_overrides_id_seq'::regclass);


--
-- Name: daily_menu id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.daily_menu ALTER COLUMN id SET DEFAULT nextval('public.daily_menu_id_seq'::regclass);


--
-- Name: deposits id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.deposits ALTER COLUMN id SET DEFAULT nextval('public.deposits_id_seq'::regclass);


--
-- Name: expenses id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.expenses ALTER COLUMN id SET DEFAULT nextval('public.expenses_id_seq'::regclass);


--
-- Name: halls id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.halls ALTER COLUMN id SET DEFAULT nextval('public.halls_id_seq'::regclass);


--
-- Name: inventory_payments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_payments ALTER COLUMN id SET DEFAULT nextval('public.inventory_payments_id_seq'::regclass);


--
-- Name: manual_daily_rates id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.manual_daily_rates ALTER COLUMN id SET DEFAULT nextval('public.manual_daily_rates_id_seq'::regclass);


--
-- Name: manual_shopping_items id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.manual_shopping_items ALTER COLUMN id SET DEFAULT nextval('public.manual_shopping_items_id_seq'::regclass);


--
-- Name: manual_user_records id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.manual_user_records ALTER COLUMN id SET DEFAULT nextval('public.manual_user_records_id_seq'::regclass);


--
-- Name: meal_cycles id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.meal_cycles ALTER COLUMN id SET DEFAULT nextval('public.meal_cycles_id_seq'::regclass);


--
-- Name: student_meal_statuses id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_meal_statuses ALTER COLUMN id SET DEFAULT nextval('public.student_meal_statuses_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: app_config; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: bkash_received_sms; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: cashouts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cashouts (id, meal_cycle_id, date, amount, from_method, notes) FROM stdin;
34	7	2026-07-30	10000	Mobile Banking	from bkash
\.


--
-- Data for Name: daily_fee_overrides; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.daily_fee_overrides (id, meal_cycle_id, date, manager_charge, guest_charge) FROM stdin;
1	7	2026-07-21	\N	7.14
\.


--
-- Data for Name: daily_menu; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: deposits; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: halls; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.halls (id, name, guest_meal_rate, manager_charge_per_day, guest_charge_per_day) FROM stdin;
2	Amar Ekushe Hall	120	5	5
1	Muktijoddha Hall	120	5	7
\.


--
-- Data for Name: inventory_payments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.inventory_payments (id, meal_cycle_id, date, paid_to, method, amount, notes) FROM stdin;
2	7	2026-07-31	sajjad	Cash	10000	paid in person
\.


--
-- Data for Name: manual_daily_rates; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.manual_daily_rates (id, date, lunch_cost, dinner_cost, lunch_meals, dinner_meals, lunch_rate, dinner_rate, total_rate) FROM stdin;
\.


--
-- Data for Name: manual_shopping_items; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.manual_shopping_items (id, date, meal_type, description, cost) FROM stdin;
\.


--
-- Data for Name: manual_user_records; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.manual_user_records (id, user_id, name, room, status, lunch_meals, dinner_meals, deposits, costs, give_take) FROM stdin;
\.


--
-- Data for Name: meal_cycles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.meal_cycles (id, hall_id, month, status, cutoff_time, lunch_percentage, dinner_percentage, lunch_only_rate_percentage, dinner_only_rate_percentage, start_date, end_date, full_rate_days) FROM stdin;
7	1	2026-07	closed	21:00	0.5	0.5	0.75	0.75	2026-07-12	2026-08-14	4
\.


--
-- Data for Name: student_meal_statuses; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: app_config_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.app_config_id_seq', 76, true);


--
-- Name: bkash_received_sms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.bkash_received_sms_id_seq', 41, true);


--
-- Name: cashouts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.cashouts_id_seq', 34, true);


--
-- Name: daily_fee_overrides_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.daily_fee_overrides_id_seq', 1, true);


--
-- Name: daily_menu_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.daily_menu_id_seq', 20, true);


--
-- Name: deposits_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.deposits_id_seq', 565, true);


--
-- Name: expenses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.expenses_id_seq', 151, true);


--
-- Name: halls_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.halls_id_seq', 2, true);


--
-- Name: inventory_payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.inventory_payments_id_seq', 2, true);


--
-- Name: manual_daily_rates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.manual_daily_rates_id_seq', 1, false);


--
-- Name: manual_shopping_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.manual_shopping_items_id_seq', 1, false);


--
-- Name: manual_user_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.manual_user_records_id_seq', 1, false);


--
-- Name: meal_cycles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.meal_cycles_id_seq', 7, true);


--
-- Name: student_meal_statuses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.student_meal_statuses_id_seq', 18216, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 273, true);


--
-- Name: app_config app_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.app_config
    ADD CONSTRAINT app_config_pkey PRIMARY KEY (id);


--
-- Name: bkash_received_sms bkash_received_sms_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bkash_received_sms
    ADD CONSTRAINT bkash_received_sms_pkey PRIMARY KEY (id);


--
-- Name: cashouts cashouts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cashouts
    ADD CONSTRAINT cashouts_pkey PRIMARY KEY (id);


--
-- Name: daily_fee_overrides daily_fee_overrides_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.daily_fee_overrides
    ADD CONSTRAINT daily_fee_overrides_pkey PRIMARY KEY (id);


--
-- Name: daily_menu daily_menu_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.daily_menu
    ADD CONSTRAINT daily_menu_pkey PRIMARY KEY (id);


--
-- Name: deposits deposits_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.deposits
    ADD CONSTRAINT deposits_pkey PRIMARY KEY (id);


--
-- Name: expenses expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_pkey PRIMARY KEY (id);


--
-- Name: halls halls_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.halls
    ADD CONSTRAINT halls_pkey PRIMARY KEY (id);


--
-- Name: inventory_payments inventory_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_payments
    ADD CONSTRAINT inventory_payments_pkey PRIMARY KEY (id);


--
-- Name: manual_daily_rates manual_daily_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.manual_daily_rates
    ADD CONSTRAINT manual_daily_rates_pkey PRIMARY KEY (id);


--
-- Name: manual_shopping_items manual_shopping_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.manual_shopping_items
    ADD CONSTRAINT manual_shopping_items_pkey PRIMARY KEY (id);


--
-- Name: manual_user_records manual_user_records_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.manual_user_records
    ADD CONSTRAINT manual_user_records_pkey PRIMARY KEY (id);


--
-- Name: meal_cycles meal_cycles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.meal_cycles
    ADD CONSTRAINT meal_cycles_pkey PRIMARY KEY (id);


--
-- Name: student_meal_statuses student_meal_statuses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_meal_statuses
    ADD CONSTRAINT student_meal_statuses_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_app_config_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_app_config_id ON public.app_config USING btree (id);


--
-- Name: ix_app_config_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_app_config_key ON public.app_config USING btree (key);


--
-- Name: ix_bkash_received_sms_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_bkash_received_sms_id ON public.bkash_received_sms USING btree (id);


--
-- Name: ix_bkash_received_sms_trx_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_bkash_received_sms_trx_id ON public.bkash_received_sms USING btree (trx_id);


--
-- Name: ix_cashouts_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cashouts_id ON public.cashouts USING btree (id);


--
-- Name: ix_daily_fee_overrides_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_daily_fee_overrides_id ON public.daily_fee_overrides USING btree (id);


--
-- Name: ix_deposits_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_deposits_id ON public.deposits USING btree (id);


--
-- Name: ix_expenses_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_expenses_id ON public.expenses USING btree (id);


--
-- Name: ix_halls_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_halls_id ON public.halls USING btree (id);


--
-- Name: ix_halls_name; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_halls_name ON public.halls USING btree (name);


--
-- Name: ix_inventory_payments_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_inventory_payments_id ON public.inventory_payments USING btree (id);


--
-- Name: ix_manual_daily_rates_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_manual_daily_rates_date ON public.manual_daily_rates USING btree (date);


--
-- Name: ix_manual_daily_rates_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_manual_daily_rates_id ON public.manual_daily_rates USING btree (id);


--
-- Name: ix_manual_shopping_items_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_manual_shopping_items_date ON public.manual_shopping_items USING btree (date);


--
-- Name: ix_manual_shopping_items_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_manual_shopping_items_id ON public.manual_shopping_items USING btree (id);


--
-- Name: ix_manual_user_records_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_manual_user_records_id ON public.manual_user_records USING btree (id);


--
-- Name: ix_meal_cycles_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_meal_cycles_id ON public.meal_cycles USING btree (id);


--
-- Name: ix_student_meal_statuses_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_student_meal_statuses_id ON public.student_meal_statuses USING btree (id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: bkash_received_sms bkash_received_sms_approved_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bkash_received_sms
    ADD CONSTRAINT bkash_received_sms_approved_by_user_id_fkey FOREIGN KEY (approved_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: bkash_received_sms bkash_received_sms_claimed_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bkash_received_sms
    ADD CONSTRAINT bkash_received_sms_claimed_by_user_id_fkey FOREIGN KEY (claimed_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: cashouts cashouts_meal_cycle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cashouts
    ADD CONSTRAINT cashouts_meal_cycle_id_fkey FOREIGN KEY (meal_cycle_id) REFERENCES public.meal_cycles(id);


--
-- Name: daily_fee_overrides daily_fee_overrides_meal_cycle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.daily_fee_overrides
    ADD CONSTRAINT daily_fee_overrides_meal_cycle_id_fkey FOREIGN KEY (meal_cycle_id) REFERENCES public.meal_cycles(id);


--
-- Name: daily_menu daily_menu_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.daily_menu
    ADD CONSTRAINT daily_menu_hall_id_fkey FOREIGN KEY (hall_id) REFERENCES public.halls(id);


--
-- Name: deposits deposits_meal_cycle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.deposits
    ADD CONSTRAINT deposits_meal_cycle_id_fkey FOREIGN KEY (meal_cycle_id) REFERENCES public.meal_cycles(id);


--
-- Name: deposits deposits_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.deposits
    ADD CONSTRAINT deposits_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: expenses expenses_meal_cycle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_meal_cycle_id_fkey FOREIGN KEY (meal_cycle_id) REFERENCES public.meal_cycles(id);


--
-- Name: inventory_payments inventory_payments_meal_cycle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_payments
    ADD CONSTRAINT inventory_payments_meal_cycle_id_fkey FOREIGN KEY (meal_cycle_id) REFERENCES public.meal_cycles(id);


--
-- Name: manual_user_records manual_user_records_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.manual_user_records
    ADD CONSTRAINT manual_user_records_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: meal_cycles meal_cycles_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.meal_cycles
    ADD CONSTRAINT meal_cycles_hall_id_fkey FOREIGN KEY (hall_id) REFERENCES public.halls(id);


--
-- Name: student_meal_statuses student_meal_statuses_guest_from_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_meal_statuses
    ADD CONSTRAINT student_meal_statuses_guest_from_hall_id_fkey FOREIGN KEY (guest_from_hall_id) REFERENCES public.halls(id);


--
-- Name: student_meal_statuses student_meal_statuses_meal_cycle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_meal_statuses
    ADD CONSTRAINT student_meal_statuses_meal_cycle_id_fkey FOREIGN KEY (meal_cycle_id) REFERENCES public.meal_cycles(id);


--
-- Name: student_meal_statuses student_meal_statuses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_meal_statuses
    ADD CONSTRAINT student_meal_statuses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users users_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_hall_id_fkey FOREIGN KEY (hall_id) REFERENCES public.halls(id);


--
-- PostgreSQL database dump complete
--

\unrestrict L8vK9cCGcz7DMvIrTOmZKhVF2WhdbnmNOUNtNdirc4WHVXgYLBNZ5fX3BK5XfT1

